div.login-page-container {
  max-width: 1000px;
  margin: auto;
}

button.login__signup__switch__button {
  width: 100%;
  margin: 25px 0px;
  background-color: var(--grey-dark);
}

h1.login-page-header {
  text-align: center;
  margin-top: 50px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
}

h3 {
  width: 100%;
  text-align: center;
  color: var(--grey-dark);
  border-bottom: 1px solid var(--grey);
  line-height: 0.1em;
  margin: 50px 0 20px;
  font-style: italic;
  font-weight: normal;
}

h3 span {
  background: var(--label-body);
  padding: 0 10px;
}

.login-form__submit-button {
  background: var(--purple-freelancer);
}
