/* Styles for the form box */
.form-box {
     max-width: 250px;
     background: #f1f7fe;
     overflow: hidden;
     border-radius: 16px;
     color: #010101;
   }
   
   /* Styles for the proposal form */
   .proposal-form {
     position: relative;
     display: flex;
     flex-direction: column;
     padding: 32px 24px 24px;
     gap: 16px;
    
   }
   /*Give a right margin of 20px*/
.btn1{
     margin-right: 20px;
  }
   
   /* Styles for the form title */
   .form__title {
     font-size: 20px;
     font-weight: bold;
   }
   
   /* Styles for the form subtitle */
   .form__subtitle {
     font-size: 1rem;
     color: #666;
   }
   
   /* Styles for the form container */
   .form__container {
     overflow: hidden;
     border-radius: 8px;
     background-color: #fff;
     margin: 1rem 0 0.5rem;
     width: 100%;
   }
   
   /* Styles for form labels */
   .form__label {
     display: block;
     font-size: 0.9rem;
     font-weight: bold;
     margin-bottom: 4px;
   }
   
   /* Styles for form inputs */
   .form__input {
     background: none;
     border: 0;
     outline: 0;
     height: 40px;
     width: 100%;
     border-bottom: 1px solid #eee;
     font-size: 0.9rem;
     padding: 8px 15px;
   }
   
   /* Styles for form buttons */
   .form__button {
     background-color: black;
     color: #fff;
     border: 0;
     border-radius: 24px;
     padding: 10px 16px;
     font-size: 15px;
     font-weight: 600;
     
     cursor: pointer;
     transition: background-color 0.3s ease;
   }
   
   .form__button:hover {
     background-color: #005ce6;
   }
   