<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there <%= @user.username %></h1>
    <p>
       This is to confirm that you have successfully changed your password.
     .<br>
    </p>
    <p>
     If you did not initiatethis action kindly contact us immediately as your account may have been compromised.
    </p>
    <p>Thanks you and have a great day!</p>
    <p>The Free-gigz team.</p>
  </body>
</html>