<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Free-Gigz, <%= @user.username %></h1>
    <p>
     Hello <%= @user.username %>,
      You have successfully signed up to Free-Gigz.
     .<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>The Free-gigz team.</p>
  </body>
</html>