/* jobListingForm.css */

/* Form container */
.form-container {
    width: 400px;
    margin: 90px auto 0; /* Add margin-top of 50px and center horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  /* Form fields */
  .form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .form-container input,
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
  
  .form-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
  }
  